body{
  background-color: #474747;
  font-family: Poppins;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-item{
  font-family: Overpass;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFF;
  text-decoration: none;
  margin-top: 10px;
  outline: none;
  transition-property: color;
  transition-property: font-size;
  transition-duration: 0.25s;
}

.menu-item:hover{
  color: #474747;
  font-size: 12pt;
}

.bmBurgerButton{
  z-index: 1000;
}

.navbar{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #ada795;
}

#title{
  color: #474747;
  font-family: Pacifico;
  font-size: 30pt;
  font-weight: 200;
  margin-top: 0px;
}

.card-container{
  padding-top: 100px;
}

.card{
  background: #565656;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 10px;
  outline: none;
  transition-property: all;
  transition-duration: 0.25s;
}

.card:hover{
  width: 510px;
}

.card-photo{
  width: 100%;
  height: 400px;
  background: #666666;
}

.car-photo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.car-title{
  color: #FFF;
  font-family: Overpass;
  letter-spacing: 4px;
  font-weight: 900;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18pt;
}

/*
marketplace
*/
.marketplace-box{
  padding-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
}

.marketplace-title{
  padding-top: 10px;
  background-color: #565656;
  color: #ada795;
  font-family: Overpass;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 20pt;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
